/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
}

/* Center the login form */
.login-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style the form */
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #dadadaab;
}

.input-group input:focus {
    outline: none;
    border-color: #333;
}

/* Style the login button */
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #333;
}
